:root {
  --primary-text-color: rgba(115, 115, 115, 1);
  --secondary-text-color: rgba(69, 69, 69, 1);
  --additional-text-color: rgba(38, 38, 38, 1);
  --primary-content-color: rgba(26, 52, 68, 1);
  --secondary-content-color: rgba(78, 78, 78, 1);
  --additional-content-color: rgba(36, 36, 36, 1);
  --address-color: rgba(71, 71, 71, 1);
  --phone-link-color: rgba(60, 60, 60, 1);
  --title-text-color: rgba(18, 53, 75, 1);
  --secondary-title-color: rgba(0, 0, 0, 1);
  --additional-title-color: rgba(39, 39, 39, 1);
  --primary-subtitle-color: rgba(34, 34, 34, 1);
  --secondary-subtitle-color: rgba(54, 54, 54, 1);
  --hero-primary-text-color: rgba(111, 111, 111, 1);
  --hero-secondary-text-color: rgba(78, 78, 78, 1);
  --hero-description: rgba(75, 75, 75, 1);
  --offers-description: rgba(41, 41, 41, 1);
  --doc-descr-color: rgba(62, 62, 62, 1);
  --accent-text-color: rgba(1, 103, 138, 1);
  --secondary-accent-text-color: rgba(0, 121, 255, 1);
  --additional-accent-text-color: rgba(56, 188, 234, 1);
  --primary-white-color: #ffffff;
  --accent-bg-color: rgba(56, 188, 234, 1);
  --dark-bg-color: rgba(111, 111, 111, 1);
  --treatment-bg-color: #f9f9f9;
  --services-bg-color: rgba(251, 251, 251, 1);

  --border-color: rgba(115, 115, 115, 1);
  --border-accent-color: rgba(0, 121, 255, 1);

  --icon-color: #2e3a59;
  --secondary-icon-color: #20a0cd;
  --icon-location-color: #1a3444;
  --icon-calendar-color: #2e3a59;
  --icon-phone-color: #1a3444;
  --icon-accent-color: #38bcea;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: Montserrat, sans-serif;
  font-size: 24px;

  /* padding-top: 80px; */
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section.change-padding {
  padding-top: 62px;
  padding-bottom: 62px;
}

/* Slider icon */

.slider-btn{
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #2E3A59;
  background-color: transparent;
  cursor: pointer;

  opacity: 0.5;

  transition: opacity 250ms var(--timing-function);
}

.slider-icon{
  fill: #2E3A59;
}

.visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Icons for validation */

.register-form-valid-icon,
.contact-form-valid-icon {
  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
}

.register-form-success,
.register-form-error,
.contact-form-success,
.contact-form-error {
  opacity: 0;
  transform: scale(0.4);
  transform-origin: center;
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.register-form-error,
.contact-form-error {
  fill: red;
}

.register-form-success,
.contact-form-success {
  fill: green;
}
