/* Site nav */

.wrap {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header--no-transparency {
  background-color: rgba(250, 241, 237, 0.5);
  backdrop-filter: blur(4px);
}

.header__logo {
  margin-right: 30px;
}

.social-links {
  display: flex;
}

.header__social-links {
  gap: 16px;
  margin-right: 30px;
}

.social-links__link {
  display: block;
}

.social-links__icon {
  fill: var(--icon-color);

  transition: fill 250ms var(--timing-function);
}

.social-links__icon:hover,
.social-links__icon:focus {
  fill: var(--accent-text-color);
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  margin-left: 20px;
}

.site-nav__link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
  color: rgba(170, 170, 170, 1);

  font-family: Roboto;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav__link::after {
  content: '';

  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;

  background-color: var(--accent-text-color);

  transform: scaleX(0);
  transition: transform 250ms var(--timing-function), color 250ms var(--timing-function);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  transform: scaleX(1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link--current {
  color: var(--accent-text-color);
}

.contact-info {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.address-thumb,
.time-thumb {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 30px;
}

.address-thumb__icon {
  fill: var(----icon-location-color);
}

.address-thumb__data {
  color: var(--address-color);
  font-size: 15px;
  line-height: 1.15;
}

.time-thum__icon {
  fill: var(calendar-icon);
}

.time-thum__data {
  font-size: 15px;
  line-height: 1.2;
}

.phone-link {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 25px;

  color: var(--phone-link-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.phone-link:hover,
.phone-link:focus {
  color: var(--accent-text-color);
}

.phone-link__icon {
  fill: currentColor;
}

/* Hero */

.overlay {
  height: 628px;
  background-color: var(--dark-bg-color);
  background-image: url('../images/hero/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__subtitle {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 9px;

  color: var(--content-color);
  font-size: 20px;
  line-height: 1.15;
}

.hero__subtitle::before {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #4e4e4e;
}

.title {
  color: var(--primary-content-color);
  font-size: 48px;
  line-height: 1.04;

  /* animation: fade-in 500ms ease 100ms 3 alternate fill-mode;
  transform-origin: left center; */
}

.hero__title {
  margin-bottom: 17px;
}

.title--main {
  animation: fade-in 800ms ease 500ms 1 backwards alternate;
  transform-origin: left center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.2);
  }

  25% {
    opacity: 1;
    transform: translateX(0px) scale(0.2);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.text {
  color: var(--hero-primary-text-color);

  font-size: 20px;
  line-height: 1.15;
}

.hero__text {
  margin-bottom: 37px;
}

.hero .btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 295px;
  margin-bottom: 77px;
  overflow: hidden;
}

.hero .icon-btn {
  margin-right: 10px;
  fill: var(--primary-white-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover .icon-btn {
  transform: translateY(-35px);
}

.hero .icon-pencil {
  position: absolute;
  top: 50%;
  left: 57px;

  transform: translateY(calc(-50% + 34px));

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--primary-white-color);
}

.hero .btn:hover .icon-pencil {
  transform: translateY(-50%);
}

/* .hero .btn::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
  

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .hero .btn:hover::before {
  transform: translateY(-35px);
} */

/* .hero .btn:hover::after {
  transform: translateY(-50%);
} */

/* .hero .btn::after{
  content: '';
  top: 50%;
  left: 45px;
  position: absolute;
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: yellow;

  /* transform: translateY(calc(-50% + 35px)); */

/* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.hero__list {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.hero__item {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;

  background-color: rgba(255, 255, 255, 0.4);
}

.hero__icon {
  fill: var(--secondary-icon-color);
  margin-right: 20px;
}

.hero__descr {
  color: var(--hero-description);

  font-size: 18px;
  line-height: 1.15;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-size: 48px;
  line-height: 1.2;
}

.services__section-title {
  margin-bottom: 14px;
}

.braces__section-title,
.consult__section-title {
  margin-bottom: 43px;
  color: var(--secondary-title-color);
}

.offers__section-title {
  margin-bottom: 41px;
  color: var(--additional-title-color);
}

.section-descr {
  margin-bottom: 70px;

  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 1.15;
}

/* Button */

.button {
  min-width: 186px;
  border-radius: 6px;
  padding: 11px 34px;
  text-align: center;
  border: 2px solid transparent;

  font-family: Roboto;
  font-size: 15px;
  line-height: 1.2;

  cursor: pointer;
}

.button.primary {
  background-color: var(--accent-bg-color);
  color: var(--primary-white-color);
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-text-color);
}

.button.secondary {
  border-color: var(--accent-bg-color);

  color: var(--accent-text-color);
  background-color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border-color: transparent;
}

/* services */

.services__list {
  display: flex;
  column-gap: 40px;
  row-gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services__item {
  position: relative;
  width: 250px;
  height: 237px;
  text-align: center;
  padding: 34px 55px;
  border-radius: 6px;
  background-color: var(--services-bg-color);

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.services__item:hover {
  background-color: var(--accent-bg-color);
}

.services__thumb {
  height: 80px;
  margin-bottom: 20px;
}

.services__icon {
  fill: var(--icon-accent-color);

  transition: fill 250ms var(--timing-function);
}

.services__item:hover .services__icon {
  fill: var(--primary-white-color);
}

.services__text {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.services__item:hover .submenu {
  opacity: 1;
  pointer-events: all;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 1000px;
  background-color: #fbfbfb;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.submenu__item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 6px;

  padding: 20px 30px;

  transition: box-shadow 250ms var(--timing-function);
}

.submenu__item:hover {
  box-shadow: inset 0 0 35px 5px rgba(56, 188, 234, 0.35),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9), inset 0 -2px 1px rgba(56, 188, 234, 0.5);
}

.submenu__meta {
  margin-left: auto;
}

.submenu__btn {
  min-width: 186px;
  border-radius: 6px;
  padding: 11px 34px;
  margin-left: 60px;
  border: 2px solid transparent;

  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-bg-color);
  border: none;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.submenu__btn:hover,
.submenu__btn:focus {
  background-color: var(--accent-text-color);
  transform: scale(1.1);
}

.submenu__treatm,
.submenu__price {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;

  color: var(--secondary-title-color);
}

/* offers */

.offers__list {
  display: flex;
  justify-content: space-evenly;
}

.offers__item {
  width: calc((100% - 76px) / 3);
}

.offers__num {
  margin-bottom: 8px;

  color: var(--additional-accent-text-color);
  font-size: 48px;
  line-height: 1.2;
  text-decoration: none;
}

.offers__subtitle {
  margin-bottom: 8px;

  color: var(--primary-subtitle-color);
  font-size: 36px;
  line-height: 1.2;
}

.offers__text {
  color: var(--offers-description);

  font-size: 24px;
  line-height: 1.15;
}

/* Braces & consultation*/

.braces,
.consult {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top 0 left calc(50% + 410px), 0 0;
  background-size: contain;
}

.woman-dentist {
  background-image: url(../images/woman-dentist.png),
    linear-gradient(to right, rgba(230, 242, 255, 1), rgba(250, 241, 237, 1));
}

.wom-doc {
  background-image: url(../images/dentist.png),
    linear-gradient(to right, rgba(230, 242, 255, 1), rgba(250, 241, 237, 1));
}

/* .braces-thumb{
  background-image: url(../images/woman-dentist.png);
  background-repeat: no-repeat;
  background-size: contain;
} */
.wrapper {
  display: flex;
}
/* 
.braces .wrapper,
.consult .wrapper {
  padding-top: 62px;
  padding-bottom: 62px;
  background-image: linear-gradient(rgba(230, 242, 255, 1), rgba(250, 241, 237, 1));
} */

/* .braces .wrapper::after {
  content: '';
  width: 752px;
  height: 753px;
  background-image: url('../images/woman-dentist.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.recall-descr {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recall-descr__text {
  margin-bottom: 40px;

  color: var(--additional-text-color);
  font-size: 24px;
  line-height: 1.3;
}

.recall-descr__link {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  color: var(--secondary-accent-text-color);

  font-family: Roboto;
  font-size: 24px;
  line-height: 1.3;
  text-decoration: none;
}

.recall-descr__link::before {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #262626;
}

.contact-form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.recall-descr__contact-form {
  margin-bottom: 33px;
}

.contact-form__field {
  position: relative;
}

.contact-form__input {
  width: 230px;
  padding: 10px 15px;
  padding-right: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: transparent;

  font-size: 20px;

  transition: box-shadow 250ms var(--timing-function);
}

.contact-form__input:hover,
.contact-form__input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-form__label {
  position: absolute;
  top: 50%;
  left: 15px;

  color: #bbbb;

  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);
}

.contact-form__input:focus + .contact-form__label,
.contact-form__input:not(:placeholder-shown) + .contact-form__label {
  transform: translate(-15px, -55px) scale(0.8);
}

.contact-form__input:valid:not(:placeholder-shown)
  ~ .contact-form__icon-wrap
  .contact-form__valid-icon--success {
  opacity: 1;
  transform: scale(1);
}

.contact-form__input:invalid:not(:placeholder-shown)
  ~ .contact-form__icon-wrap
  .contact-form__valid-icon--error {
  opacity: 1;
  transform: scale(1);
}

.agreement,
.agreement__link {
  color: var(--secondary-content-color);

  font-size: 18px;
  line-height: 1.3;
  text-underline-position: under;
  user-select: none;
}

/* treatment */
.treatment,
.offers {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbfbfb;
}

.logo {
  display: flex;
  gap: 9px;
  align-items: center;
}

.treatment__logo {
  margin-bottom: 6px;
}

.logo__text {
  color: var(--primary-content-color);

  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.17;
}

.text {
  color: var(--additional-content-color);

  font-size: 20px;
  line-height: 1.15;
}

.treatment__text {
  margin-bottom: 47px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
  row-gap: 33px;
}

.treatment__services {
  margin-bottom: 47px;
}

.servises__item {
  padding: 11px 22px;
  border-radius: 6px;
  background-color: var(--treatment-bg-color);
}

.treatment .description {
  margin-bottom: 62px;
}

.logo-list {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.treatment__logo-list {
  margin-top: 12px;
}

.logo-list__item:last-child {
  margin-left: 52px;
}

.slider {
  position: relative;
}

.slider__thumb {
  position: absolute;
  top: -55px;
  right: 0;
  display: flex;
  gap: 20px;
}

.slider:hover .slider__btn {
  opacity: 1;
}

/* Specialists */

.dentist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 60px;

  perspective: 1000px;
}

.dentist__item{
  /* width: calc((100% - 15px) / 2); */
  display: flex;
  border-radius: 6px;
  background-image: linear-gradient(to right, #f7faf7, #eff0f4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dentist-info {
  max-width: 400px;
  padding: 40px;
}

.dentist__image-thumb {
  width: 300px;
  height: 415px;
}

.dentist__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.dentist__title {
  margin-bottom: 14px;

  color: var(--secondary-subtitle-color);
  font-size: 36px;
  line-height: 1.2;
}

.destist__descr {
  color: var(--doc-descr-color);

  font-size: 20px;
  line-height: 1.15;
}

/* Certificates */

.certif__title {
  margin-bottom: 93px;
}

.awards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.awards:hover .slider__btn {
  opacity: 1;
}

.awards__btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.awards__btn--left {
  left: -12px;
}

.awards__btn--right {
  right: -12px;
}

/* Footer */

.footer__wrap {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f2f3f5;
}

.footer__social-links {
  gap: 34px;
}

.footer__meta {
  margin-left: auto;
  display: flex;
}

.footer__text-wrap {
  text-align: center;
  margin-right: 80px;
}

.footer__text-link {
  color: var(--secondary-title-color);
  font-size: 15px;
  line-height: 1.45;
  margin-right: 80px;
  text-underline-position: under;
}

.footer__text {
  color: var(--secondary-title-color);

  font-size: 15px;
  line-height: 1.45;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  opacity: 1;
  transition: opacity 500ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 400px;
  width: 600px;
  padding: 50px 30px;

  background-color: #fff;
  border-radius: 20px;
  transition: transform 500ms var(--timing-function);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--secondary-title-color);
  background-color: transparent;

  cursor: pointer;
}

/* form */

.register-form-title {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}

.register-form {
  text-align: center;
}

.register-form-group {
  margin-bottom: 25px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.register-form-field:last-child {
  margin-bottom: 0;
}

.register-form-label {
  position: absolute;
  top: 50%;
  left: 50px;

  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function), color 250ms var(--timing-function);
}

.register-form-label:last-child {
  top: 10px;
  left: 15px;
  transform: translateY(0);
}

.register-form-input,
.register-form-textarea {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 50px;
  width: 100%;

  outline: transparent;
  transition: border-color 250ms var(--timing-function);
}

.register-form-textarea {
  height: 90px;
  padding: 10px 15px;
  resize: none;
}

.register-form-input:focus,
.register-form-textarea:focus {
  border-color: var(--border-accent-color);
  outline: transparent;
}

.register-form-input:focus + .register-form-label,
.register-form-input:not(:placeholder-shown) + .register-form-label {
  transform: translate(-35px, -50px) scale(0.8);
  color: var(--additional-accent-text-color);
}

.register-form-textarea:focus + .register-form-label,
.register-form-textarea:not(:placeholder-shown) + .register-form-label {
  transform: translateY(-35px) scale(0.8);
}

.register-form-textarea:focus + .register-form-label {
  color: var(--additional-accent-text-color);
}

.register-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.register-form-input:focus ~ .register-form-icon {
  fill: var(--additional-accent-text-color);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.register-form-checkbox:checked + .register-icon .icon-checked {
  opacity: 1;
}

.register-form-checkbox:checked + .register-icon .icon-unchecked {
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.register-form-agreement-text {
  margin-left: 8px;
  font-size: 14px;
  text-underline-position: under;
  user-select: none;

  color: var(--secondary-content-color);
}

.register-form-agreement-link {
  color: var(--secondary-content-color);
}

.icon-checked {
  opacity: 0;
  fill: var(--additional-accent-text-color);
  transition: opacity 250ms var(--timing-function);
}

/* validation */

.register-form-input:valid {
  border-color: green;
}

.register-form-input:invalid:required:not(:placeholder-shown) {
  border-color: red;
}

.register-form-input:valid + .register-form-label {
  color: green;
}

.register-form-input:invalid:required:not(:placeholder-shown) + .register-form-label {
  color: red;
}

.register-form-input:valid ~ .register-form-valid-icon .register-form-success {
  opacity: 1;

  transform: scale(1);
}

.register-form-input:invalid:required:not(:placeholder-shown)
  ~ .register-form-valid-icon
  .register-form-error {
  opacity: 1;
  transform: scale(1);
}

/* Patient */

.patient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.patient-item {
  width: 450px;
}

.patient-link {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

  text-decoration: none;

  transition: box-shadow 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.patient-link:hover,
.patient-link:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.patient-cards {
  position: relative;
  overflow: hidden;
}

.patient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 10px 15px;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  background-color: var(--accent-bg-color);
}

.patient-link:hover .patient-overlay,
.patient-link:focus .patient-overlay {
  transform: translateY(0);
}

.patient-wrapper {
  padding: 10px 15px;
}

.patient-title {
  color: var(--secondary-content-color);
  font-size: 18px;
  line-height: 1.3;
  user-select: none;
}

.patient-main-title {
  margin-top: 30px;
  margin-bottom: 40px;
}
